*.pyc
*.suo
*.LOG
**/.settings/
**/bin/
**/obj/
*.*proj.user
*.user
**/TEMP/
**/releases/
**/Release/
**/Library/
**/__pycache__/
**/.idea/workspace.xml
**/.vs/
**/venv/
*.obj
*.pdb
*.VC.VC.opendb
*.OLD
*.zip
